<div class="container">
  <h1>Your Stupid Coach</h1>
  <h3>Ask me something</h3>

  <form action="/answer" class="form-box">
  <input type="text" name="question" class="question">
  <input type="submit" value="Ask!" class="button">
  </form>
</div>
